html {
  font-family: Inconsolata, sans-serif;
  background: #49483E;
  color: #E6E6E5;
}

#content {
  display: flex;
  flex-direction: column;
}

.func {
  color: #4BA6CB;
  font-style: italic;
}

.funcName {
  color: #80B028;
}

.comment {
  color: #75715E;
}

.key {
  color: #D07E22;
}

.str {
  color: #C9C26B;
}

.indent1 {
  text-indent: 20px;
}

.indent2 {
  text-indent: 40px;
}